html {
  font-family: "Comic Neue", cursive;
  background-image: url("/images/background.png");
}
h1 {
  margin-block-start: 0em;
  margin-block-end: 0em;
  font-size: 1.5em;
}

.large-container {
  display: flex;
  flex-flow: row wrap;
  align-items: center;
  justify-content: center;
}
.title {
  font-size: 3em;
  color: #2d695e;
  text-align: center;
}
.hide {
  display: none;
}
.container {
  text-align: center;
  justify-content: center;
  align-items: center;
  width: 100%;
  margin: 2em 2em;
  border-radius: 2em;
  background-color: #2d695e;
  padding: 1em;
}
.question {
  text-align: center;
  width: 100%;
  overflow: auto;
  padding: 1em 0;
  color: #ecefd6;
  border-radius: 2em;
}
.answers {
  display: flex;
  flex-flow: row wrap;
  justify-content: center;
  width: 100%;
}
.individual-answer {
  width: 80%;
}
button {
  text-align: center;
  padding: 1em;
  width: 40%;
  margin: 1em;
  cursor: pointer;
  background-color: #ecefd6;
  border: none;
  border-radius: 2em;
  color: #2d695e;
  font-weight: bold;
  font-family: "Comic Neue", cursive;
  font-size: 1em;
}

button:hover {
  box-shadow: 5px 5px 5px 1px #adaf9d;
  /* width: 48%;
  z-index: -1; */
}

.individual-image-answer {
  width: 40%;
  margin: 1em;
  height: 200px;
  cursor: pointer;
}
.individual-image-answer:hover {
  box-shadow: 5px 5px 5px 1px black;
}
#results {
  width: 65%;
  background-color: #2d695e;
  text-align: center;
  color: white;
  font-size: 2em;
  padding: 1em;
  margin: 0;
}

.result-image {
  margin: 1em;
}

@media all and (min-width: 900px) {
  .individual-answer {
    width: 45%;
  }
  .individual-image-answer {
    width: 30%;
    height: 300px;
  }
  .individual-month-answer {
    width: 12%;
  }
  .individual-catchphrase-answer {
    width: 15%;
  }
}
