.App {
  font-family: sans-serif;
  text-align: center;
}

.container {
  display: flex;
  flex-flow: column wrap;
  justify-content: center;
  align-items: center;
}

.question {
  text-align: center;
  border: 1px solid black;
  padding: 1em;
  width: 90%;
}

.answers {
  display: flex;
  flex-flow: row wrap;
  text-align: left;
  padding: 1em;
  width: 100%;
}

.individual-answer {
  text-align: center;
  border: 1px solid black;
  padding: 1em;
  width: 40%;
  margin: 1em;
  cursor: pointer;
}

.hide {
  display: none;
}

#results {
  z-index: 10;
  height: 50%;
  width: 50%;
  background-color: white;
  text-align: center;
}
